---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import MicroMarket from '../components/MicroMarket.astro';
import ServicesGrid from '../components/ServicesGrid.astro';
import FreshFood from '../components/FreshFood.astro';
import HealthWellness from '../components/HealthWellness.astro';
import Clients from '../components/Clients.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Delio - Delight in Every Bite">
	<Header />
	<main>
		<Hero />
		<MicroMarket />
		<ServicesGrid />
		<FreshFood />
		<HealthWellness />
		<Clients />
	</main>
	<Footer />
</Layout>
